<% if @results.any? %>
  <h3><%= I18n.t('results')%> (<%= @total_results %>):</h3>
  <ol>
  <% @results.each do |subcategory| %>
    <li><%= subcategory.title %> (<%= subcategory.text %>)</li>

    <h4> Category: </h4>
    <%= link_to subcategory.category.title, category_path(subcategory.category.id) %>
</ol>
    Aticles:
    <% subcategory.articles.each do |article| %>

    <%= link_to article.title, article_path(article.id) %>
  <% end %>
  <% end %>
  </ol>
<% else %>
  Results not found :(
<% end %>



<%= paginate @query %>
