<div class="container-fluid mt-3">
  <h1>Category: <%= link_to @subcategory.category.title, category_path(@subcategory.category.id)%></h1>
  <p>
    <strong>Title:</strong>
    <%= @subcategory.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= markdown(@subcategory.text) %>
  </p>



<%= link_to "Edit", edit_subcategory_path(@subcategory.id), class: 'btn btn-primary' %>
<%= link_to "Delete", subcategory_path(@subcategory.id), method: :delete, class: 'btn btn-danger' %>
<%= link_to "Back", subcategories_path, class: 'btn btn-secondary'%>
</div>
