<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
    </div>



    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">DocSearch</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>






      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-md-auto">
          <%= link_to I18n.t('menu.home'), root_path, class: 'nav-link' %>
          <li class="nav-item active">
    <%= link_to I18n.t('menu.new_category'), new_category_path, class: 'nav-link'if admin? %>
    <%= link_to I18n.t('menu.new_subcategory'), new_subcategory_path, class: 'nav-link' if admin? %>
    <%= link_to I18n.t('new_article'), new_article_path, class: 'nav-link' if admin? %>
    <%= link_to I18n.t('all_users'), users_path, class: 'nav-link' if admin? %>
        <% if user_signed_in? %>
        <li><%= button_to I18n.t('menu.log_out'), destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to I18n.t('sign_in'), new_user_session_path %></li>/
          <li><%= link_to I18n.t('sign_up'), new_user_registration_path %></li>
        <% end %>
      </ul>
    </ul>
  </div>
</nav>

<ul>
<li><%= link_to 'English', root_path(locale: :en) %></li>
<li><%= link_to 'Українська', root_path(locale: :ua) %></li>
</ul>
</nav>
